/*Paragraph decoration using jQuery*/
.mean {
  color: black;
}
.text-rotator {
    text-align: center;
}
.text-rotator .text {
  display: none;
}

.text-rotator .text.active {
  display: block;
}

/* Common styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: monospace, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
  padding: 2rem;
  box-sizing: border-box;
}

#heading {
  color: deeppink;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.Resume a {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: grey;
}

/*Social icons*/
.social {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 4rem;
}

.social a {
  margin: 1rem;
}

.social img {
  height: 25px;
}
/*Google font image*/
.Chetan-C {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Chetan-C img {
  max-width: 100%;
  height: 40vh;
  margin-top: 0.5rem;
}

/* Footer */
.footline {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.2rem;
  background-color: #f8f8f8;
  text-align: center;
}

footer p a {
    font-family: monospace,arial,serif;
    font-weight: 500;
}

footer a {
    text-decoration: none;
    color: blue;
}
